/* Heri samles al styling til sidst */

/* Husk at give det tydelige overskrifter for, hvilken side det styler (se eksempel i interaktiv-storytelling) */

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');
    
* {
   font-family: 'Heebo', 'Times New Roman', Times, serif;
}
html {
  background-color: #EDE1D0; /*Bagrundsfarve for hele html, indtil rigtige baggrundsbilleder er indsat*/
}


footer {
   background-color: #EDE1D0; /*Genereller regler for footer*/
   padding: 40px 20px;
   font-family: Arial, sans-serif;
 }
 
 .footer-indhold { /*Overodnet sektion til hele footer indhold*/
   max-width: 1400px;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
 }

 .email-tilmeld { /*Instillinger for udseende af input felt til email tildmelding*/
   background-color: #EDE1D0;
   padding: 2% 12%;
   text-align: center;
   font-size: 80%;
   color: #313F88;
   border-color: #313F88;
 }

 @media (max-width: 768px) { /*Instillinger for udseende af input felt til email tildmelding når skærmstørrelsen er mindre*/
 .email-tilmeld { 
   background-color: #EDE1D0;
   padding: 2% 5%;
   text-align: center;
   font-size: 80%;
   color: #313F88;
   border-color: #313F88;
 }
}

 #tilmeld-knap { /*Instillinger for email tilmeld knap*/
   background-color: #EDE1D0;
   padding: 2% 2%;
   text-align: center;
   font-size: 80%;
   color: #313F88;
   border-color: #313F88;
   cursor: pointer;
 }

 #tilmeld-knap:hover { /*Hover effekt til email tilmeld knap*/
   background-color: #EDE1D0;
   padding: 2% 2%;
   text-align: center;
   font-size: 80%;
   font-weight: bold;
   color: #313F88;
   border-color: #313F88;
   cursor: pointer;
 }
 
 .beholder {
   display: flex; /* Gør containeren til en flex-container */
}

.venstre-sektion {
   flex: 1; /* Giver denne sektion mulighed for at vokse og fylde tilgængelig plads */
}

.hojre-sektion {
   flex: 1; /* Giver denne sektion mere plads i forhold til venstre sektion */
   display: flex; /* Gør højre sektion til en flex-container */
   justify-content: space-between; /* Fordeler indholdet jævnt */
  }


 h1{
   color: #313F88;
 }

 @media (max-width: 768px) { /* Juster fontstørrelse for skærme mindre end 768px */
   h1 {
      font-size: 1.5em; /* Mindre fontstørrelse for mindre skærme */
   }
}
 h3 { /**/
   font-size: 25px;
   margin-bottom: 20px;
   color: #313F88;
   font-weight: normal;
 }

 @media (max-width: 1000px) { /* Juster fontstørrelse for skærme mindre end 1000px */
  h3 {
    font-size: 14px;
    margin-bottom: 20px;
    color: #313F88;
    font-weight: normal;
  }
}
 
 ul { /**/
   list-style-type: none;
   padding: 0;
 }
 
 li {
   margin-bottom: 10px;
 }

 .bund-beholder { /* Ny container for at holde de to sektioner */
   display: flex;
   justify-content: space-between; /* Placerer dem på hver sin side */
   margin-top: 40px; /* Tilføj margin for afstand */
   width: 100%; /* Sørg for at containeren strækker sig over hele bredden */
}

.bund-sektion { /* instillinger for privatlivspolitik */
   text-align: right; /* Justerer tekst til højre */
   margin-top: 40px;
   font-size: 14px;
   flex: 1; /* Giver sektionen plads til at fylde */
   color: #313F88;
}

.bund-sektion-socials { /* instillinger for sociale medier link */
   text-align: left; /* Justerer tekst til venstre */
   margin-top: 40px;
   font-size: 14px;
   flex: 1; /* Giver sektionen plads til at fylde */
   color: #313F88;
}

.bund-sektion-socials a { /* Tilføj margin mellem sociale links */
   margin-right: 40px; /* Juster værdien for at ændre afstanden */
}

 .fjern-link { /**/
   color: #313F88; 
   text-decoration: none; /* fjerner underlinje */
   cursor: pointer; /* ændrer mus til pointer */
}

@media (max-width: 1000px) { /* Juster fontstørrelse for skærme mindre end 1000px */
  .fjern-link { /**/
    color: #313F88; 
    text-decoration: none; /* fjerner underlinje */
    cursor: pointer; /* ændrer mus til pointer */
    font-size: 12px;
 }
}


.fjern-link:hover {
   color: #313F88; 
   text-decoration: none; /* fjerner underlinje */
   font-weight: bold;
   cursor: pointer; /* ændrer mus til pointer */
}